# files with no version control
#

# temporary merge files
*.orig

# temporary files
~*.docx
~*.tmp
*.ipynb.swp

# temporary package folders
__*__/

# temporary IPYNB folders
.ipynb_checkpoints/

# local scripts
.gitattributes
difftool
difftool-nbdime
difftool-pandoc
mergetool
Run Git.bat
Run Jupyter Notebook.bat